header
    nav.navbar.navbar-expand.navbar-light.bg-light
        .container-fluid.navbar-icon-list
            a.navbar-brand(href="#") Land Tracker
            if user
                ul.navbar-nav
                    li.nav-item.icon-nav
                        a(href="/repository")
                            img(src="/svg/archive.svg",width="28rem", class={iconActive: url === "/repository"})
                    li.nav-item.icon-nav
                        a(href="/user")
                            img(src="/svg/user.svg",width="28rem", class={iconActive: url === "/user"})
                    li.nav-item.icon-nav
                        a(href="/logout")
                            img.icon-nav(src="/svg/signout.svg",width="28rem")
            else
                ul.navbar-nav
                    li.nav-item(class={active: url === "/login"})
                        a.nav-link(href="/login") Log In
                    li.nav-item(class={active: url === "/signup"})
                        a.nav-link(href="/signup") Sign Up,
