extends layout

block content
  div(style="margin-left:2rem; margin-right:2rem")
    h5 What is this site about:
    p Landtracker is a website that lets you manage your assets (Real Estate, Farm, Land) conveniently.
    p Features:
    li A world map and list view to see your assets.
    li Repository system which allows multiple people to edit on or see the same repository. Try it out by copying one of the repositories' id then sending a request to that repository by another account.
    li Simple UI to manage your account.
    li Multiple account types. Upgrade your account for full functionality.
    li Localization (uses 'accept-language' header which browsers set automatically)
    h5 What you can do:
    p Use one of the test{x}@example.com emails ({x} is a number between 1-15), the password is secretpass123. You cannot sign up because you will not be able to verify your email since we haven't bought a mail service which means we cannot send you a verification email.
    p Test the repository and the request system. See how the validation works.
    p You need to reload the page to see the effect of some of your actions.
    p Authorization of the standard users is not allowed (They cannot edit a repository except their own).
    h5 Note:
    p This site is not completely finished
      a(href="https://www.linkedin.com/in/serdar-%C3%B6zata-5451aa224/") Linkedn
    p You can see the source code from
      a(href="https://github.com/serdar-ozata/landtracker-project") here
  include _footer
    //-normalize css for mozilla
