.iconActive {
    filter: none;
}

.iconInactive:hover {
    filter: none;
}

.secondIconActive {
    color: white;
    font-weight: bolder;
}

.secondIconInactive:hover {
    color: black !important;
}

.secondIconInactive {
    color: black !important;
}
.setting-btn{
    padding: 0;
}
.iconInactive {
    filter: brightness(0) saturate(100%) invert(80%) sepia(2%) saturate(29%) hue-rotate(317deg) brightness(92%) contrast(96%);
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 35rem;
}

.map-btn {
    margin-right: 0.4rem;
}

.nav-item {
    margin-right: 0.5rem;
}

.icon-info {
    filter: brightness(0%) invert(48%) sepia(75%) saturate(481%) hue-rotate(149deg) brightness(90%) contrast(89%);
    max-height: 1.5rem;
    width: auto;
    display: inline;
    margin-left: 0.5rem;
}

.second-bar-icon {
    filter: brightness(100%);
}

.navbar-main {
    background-color: #ffffff !important;
}

#cropCurrencyGroup {
    display: inline-flex;
}

.icon-nav {
    margin-right: 0.7rem;

}

.search-bar {
    background-color: #6aa84f;
}

body {
    background-color: #eee;
}

.navbar-brand {
    color: #6aa84f !important;
}

.card-login {
    position: center;
    margin: 3rem auto auto;
    width: 50rem;
}

.card-email-confirm {
    position: center;
    margin: 5% auto auto;
    width: 90%;
    text-align: center;
    border-radius: 20px;
}

.card-signup {
    position: center;
    margin: 3rem auto auto;
    width: 60%;
}

.btn-navbar {
    margin-right: 0.5rem;
}

.accordion-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.repos-data-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: auto;
    margin-left: 0;
    padding-left: 0;
    justify-self: start;
}

.repos-icon {
    max-width: 2rem;
    min-width: 1rem;
    height: auto;
    justify-content: end;
    margin-right: 0;
    padding-right: 0;
    /*filter: invert(36%) sepia(100%) saturate(2889%) hue-rotate(102deg) brightness(102%) contrast(103%);*/
}

#repository-search-input, #list-search-input {
    width: 16rem;
}
#searchGroup{
    margin-right: 1rem;
}

#searchGroup select{
    width: 6rem;
}
.edit-icon {
    max-width: 1.6rem;
    min-width: 1.5rem;
    height: auto;
    justify-content: start;
    margin-right: 0;
    padding-right: 0;
    display: inline-flex;
}

.floatingInput {
    border: none;
    margin: 0;
    padding: 0;
}

.accordion-header-text {
    display: inline;
    margin: 0.7rem;
}

.accordion-input,
.accordion-input-hide {
    font: inherit;
    margin: 0;
    padding: 0;
}

.accordion-input::-webkit-outer-spin-button,
.accordion-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.accordion-input[type=number] {
    -moz-appearance: textfield;
}

.accordion-input {
    border: none;
    min-width: 10px;
}

.accordion-input:focus-visible {
    outline: none;
}

.accordion-input-hide {
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
}

.user-header {
    display: inline;
    margin-left: 0;
}

.btn-edit-dropdown {
    margin: 0 0.5rem 0.2rem 0 !important;
}

.repos-navbar {
    border-style: solid none;
    border-color: darkgrey;
    border-width: 1px;
}

#search-input {
    display: inline-flex !important;
    width: 20rem;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-icon-list {
    justify-items: end !important;
}

.card-col {
    margin-right: 0;
    margin-left: 0;
}

.create-fields {
    margin: 0.4rem;
}

.user-info-card {
    margin: 1rem 7% 1rem 7%;
}

.info-text-start {
    margin-left: 1rem;
}

.info-text-end {
    margin-right: 1rem;
}

.info-text {
    margin: 0.5rem;
}

.card-item-count {
    margin-left: 1rem;
    display: inline-flex;
}

.col-edit-icon {
    margin-left: 0;
    padding-left: 0;
}

.user-settings-desc {
    color: gray;
}

.accordion-edit-btn {
    margin: 0.7rem 0rem 0.7rem 0.7rem;
}

.accordion-input {
    background: transparent;
    display: inline;
}

.custom-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.canvas-text {
}

.custom-feedback-active {
    display: inline;
}

.canvas-hr {
    color: gray;
    margin-top: 0.6rem;
}

.repos-card {
    margin: 0.5rem auto auto;
}

#idCopyButton {
    padding: 0.05rem;
    margin: 0.22rem 0 0 0.5rem;
    font-size: 0.6rem;
    font-weight: bold;
}

.canvas-icon:hover {
    filter: brightness(60%);
}

.hr-list {
    color: gray;
}
.hr-asset{
}

.canvas-icon {
    filter: none;
}

@media screen and (max-width: 850px) {
    .card-login, .card-signup {
        width: 85%;
    }

    .search-bar {
        margin-top: 2px;
    }
}

@media screen and (max-width: 850px) {
    .repos-card {
        width: 100%;
    }

    .repos-icon {
        margin-left: 0;
        padding: 0;
    }

    .text-col {
        text-align: center;
        font-min-size: 0.4rem;
    }
}
